# Expensify aliases
alias saltfab='cd ~/source/Expensify/Expensidev/Ops-Configs/saltfab; source venv/bin/activate'
alias pfab='fab -P -z 10'
alias gab='fab -g bastion1.sjc'
alias pgab='gab -P -z 10'
alias sshtun='ssh -At -t bastion1.sjc ssh -A'
alias fhk='~/fuckHostKeys.sh'

# Git aliases
alias gm='git pull origin master'
alias gco='git checkout'
alias gcom='git checkout master'
alias gcob='git checkout -b'
alias gcm='git commit -m'
alias gaa='git add .'
alias gau='git add -u'
alias gs='git status'
alias gp='git push origin'

# Bash things
alias ..='cd ..'
alias ...='cd ../..'
alias ll='ls -alhG'

function pr(){
    remote=`git remote -v | grep origin | head -1 | awk '{print $2'} | sed 's/.*:\(.*\)*/\1/' | sed 's/\.git$//'`
    branch=`git rev-parse --abbrev-ref HEAD`
    open "https://github.com/$remote/compare/${1:-master}...$branch?expand=1"
}

# create a socks proxy on port 8080 to a given host, use compression for the data.
function socks(){
    ssh -D 8080 -C $1
}
