# Expensify aliases
alias saltfab='cd ~/source/Expensify/Expensidev/Ops-Configs/saltfab; source venv3/bin/activate'
alias pfab='fab -P -z 10'
alias gab='fab -g bastion1.sjc'
alias pgab='gab -P -z 10'
alias sshtun='ssh -At -t bastion1.sjc ssh -A'
alias fhk='~/fuckHostKeys.sh'
alias misc='cd ~/source/Expensify/misc-scripts/; source venv/bin/activate'

# Git aliases and functions
alias gm='git pull origin main'
# Temporary hacks until all repos I use are switcehd to Main
#function gm() {
#	default_branch=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')
#	local existed_in_remote=$(git ls-remote --heads origin ${default_branch})
#
#	if [[ -z ${existed_in_remote} ]]; then
#		default_branch="main"
#	else
#		default_branch="master"
#	fi
#
#	git pull origin "$default_branch"
#}

#function gcom() {
#	default_branch=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')
#	local existed_in_remote=$(git ls-remote --heads origin ${default_branch})
#
#	if [[ -z ${existed_in_remote} ]]; then
#		default_branch="main"
#	else
#		default_branch="master"
#	fi
#
#	git checkout "$default_branch"
#}

alias gco='git checkout'
alias gcom='git checkout main'
alias gcob='git checkout -b'
alias gcbo='gcob'
alias gcm='git commit -m'
alias gcnm='git commit -n -m'
alias gcmn='gcnm'
alias gaa='git add .'
alias gau='git add -u'
alias gs='git status'
alias gp='git push origin'
alias gpn='git push origin --no-verify'

# Bash things
alias ..='cd ..'
alias ...='cd ../..'
alias ll='ls -alhG'

function pr() {
    remote=`git remote -v | grep origin | head -1 | awk '{print $2}' | sed 's/.*:\(.*\)*/\1/' | sed 's/\.git$//'`
    branch=`git rev-parse --abbrev-ref HEAD`
    open "https://github.com/$remote/compare/${1:-master}...$branch?expand=1"
}

# create a socks proxy on port 8080 to a given host, use compression for the data.
function socks(){
    ssh -D 8080 -C $1
}

# get info from a cert quickly
certinfo() {
    openssl x509 -in $1 -noout -text
}

alias tf='terraform'
alias tf12='/usr/local/Cellar/terraform/0.12.28/bin/terraform'
