<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>FB77FDE5-C2CB-4912-824A-737A24B88046</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C1038AD-5FDD-49FB-8867-9A73904031E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cole Eason</string>
	<key>description</key>
	<string>Generates a Receipt URL for a given file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Receipt URL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rec</string>
				<key>subtext</key>
				<string>Generates receipt URL for given filename</string>
				<key>text</key>
				<string>Receipt URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FB77FDE5-C2CB-4912-824A-737A24B88046</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://s3.amazonaws.com/receipts.expensify.com/{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6C1038AD-5FDD-49FB-8867-9A73904031E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6C1038AD-5FDD-49FB-8867-9A73904031E5</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>FB77FDE5-C2CB-4912-824A-737A24B88046</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://coleeason.com</string>
</dict>
</plist>
